:root {
  --color-primary: #00bcd4;
  --color-primary-light: #b2ebf2;
  --color-dark: #0097a7;
  --color-accent: #ff5252;
  --color-neutral-beige: #e2e2e2;
  --color-secondary-text: #757575;

  --font-primary: "Lora", serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}
