:root {
  --color-primary: #00bcd4;
  --color-primary-light: #b2ebf2;
  --color-primary-dark: #0097a7;
  --color-accent: #ff5252;
  --color-neutral-beige: #e2e2e2;
  --color-neutral-text: #757575;

  --font-primary: "Lora", serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

ul, ol, dl {
  font-family: var(--font-secondary);
}

a {
  color: var(--color-primary-dark);
}

blockquote, cite {
  font-family: var(--font-primary);
}

em, strong, del, ins, abbr, dfn, i, b, q, s, u {
  font-family: var(--font-primary);
}

mark {
  font-family: var(--font-primary);
  background-color: var(--color-accent);
}
