a {
  overflow: hidden;
}

.dog-info-card {
  position: relative;
  transition: all 500ms linear;
  overflow: hidden;
}

.dog-info-card h2 {
  color: #f1f1f1;
  background-color: rgba(0, 151, 167, .7);
  transition: all 500ms linear;
}

.dog-info-card p {
  color: #f1f1f1;
}

.dog-info-card svg {
  color: #f1f1f1;
}

.dog-info-card .content {
  position: absolute;
  bottom: 0;
  display: block;
  background-color: rgba(0, 188, 212, .7);
  transition: all 500ms linear;
  overflow: hidden;
}

.dog-info-card:hover .content {
  background-color: #f2f2f2;
}

.dog-info-card:hover p {
  color: var(--color-neutral-text);
}

.dog-info-card:hover h2 {
  background-color: #f2f2f2;
  color: #212121;
}

.image-card h2 {
  color: #f1f1f1;
}

.image-card {
  position: relative;
  transition: all 500ms linear;
  overflow: hidden;
}

.image-card svg {
  color: #f1f1f1;
}

.image-card .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 188, 212, .75);
  transition: all 500ms linear;
  overflow: hidden;
}

.image-card:hover .content {
  background-color: #f2f2f2;
}

.image-card:hover h2 {
  color: #212121;
}

.image-card:hover svg {
  color: #212121;
}

.info {
  background-color: var(--color-primary-light);
}
